.header-list {
  display: flex;
  padding: 16px;
  align-items: center;
  font-size: 20px;
  letter-spacing: 0.015rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.form-modal {
  position: fixed;
  width: 100%;
  top: 100vh;
  bottom: 0;
  overflow: auto;
  background-color: #fff;
  transition: top .2s ease-in-out;
  box-shadow: 0 -3px 12px rgba(0, 0, 0, .2);
}

.form-modal.visible {
  top: 32px;
}

.modal-container {
  background-color: rgba(0, 0, 0, .46);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.modal-container.visible {
  opacity: 1;
  pointer-events: all;
}

.contact-list {
  padding-bottom: 80px;
}

.contact-list-item {
  padding: 8px 8px 8px 16px;
  display: flex;
  height: 64px;
  align-items: center;
  font-size: 16px;
  letter-spacing: 0.015rem;
  line-height: 24px;
}

.contact-inital {
  background-color: #c5cae9;
  color: #3f51b5;
  height: 48px;
  width: 48px;
  margin-right: 16px;
  border-radius: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.contact-info-container {
  width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 8px;
  font-weight: bold;
}

.giveaway-number-container {
  background-color: #e1bee7;
  color: #9c27b0;
  padding: 0px 6px;
  border-radius: 100px;
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap;
}

.info {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04rem;
  color: #757575;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  font-weight: normal;
}

.info.phone {
  font-style: italic;
}

.fab {
  position: fixed;
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .2);
  right: 16px;
  bottom: 16px;
  background-image: linear-gradient(to right bottom, #3494E6, #EC6EAD);
}